@import url(https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700%7CJura:400,700);

@font-face {
  font-family: "M+ 1mn";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mplus-1mn-regular.ttf) format("truetype");
}
